<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task, number : ${tasks}">
        < th:text="${task.id}" />
        < th:text="${task.description}" th:id="'description_' + ${task.id}" />
        < span th:text="${task.status}" th:id="'status_' + ${task.id}" />
    </tr>
    </tbody>
</table>
</body>
</html>
